
.allDogsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    background-color: rgb(240, 240, 240);
}

.titleAllDogs {
    font-family: 'Courier New', Courier, monospace;
}

.specificSearchContainer {
    display: flex;
}

@media(max-width: 420px) {
    .allDogsPage {
        gap: 1rem;
    }

    .titleAllDogs {
        font-size: 1.5rem;
    }

    .specificSearchContainer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media(min-width: 420px) {
    .allDogsPage {
        gap: 2rem;
    }

    .titleAllDogs {
        font-size: 3rem;
    }

    .specificSearchContainer {
        flex-direction: row;
        gap: 2rem;
    }
}

.searchDogsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.btnAllDogs {
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(174, 200, 188);
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.btnAllDogs:hover {
    background-color: rgb(115, 160, 139);
}

.singleSearch input, .singleSearch select {
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    text-align: center;
}

.singleSearch input:focus {
    outline: none;
    border: 1px solid rgb(36, 75, 52);
    box-shadow: 0 0 5px #5cb08c;
}