

.currentDogsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    background-color: rgb(240, 240, 240);
}

@media(max-width: 420px) {
    .currentDogsPage {
        gap: 1rem;
    }
}

@media(min-width: 420px) {
    .currentDogsPage {
        gap: 2rem;
    }
}